.wrapper{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: var(--primary-clr);
    box-sizing: border-box;
}

.mainregister--outner{
    height: inherit;
    margin: 0 112px;
    background-image: url('https://down-vn.img.susercontent.com/file/sg-11134004-7qvd7-ljmk5wqol3b2cd');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1040px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainregister--inner{
    width: inherit;
    height: 429px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 
.main__register{
    background-color: var(--white--clr);
    box-sizing: border-box;
    width: 400px;
    height: inherit;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 4px;
}

.register__header{
    display: flex;
    padding: 22px 30px;
    min-height: 60px;
    width: 100%;
}

.header__text{
    display: flex;
    align-items: center;
    font-size: 20px;
    max-width: 8.5rem;  
    color: #222;
}

.register__main{
    box-sizing: border-box;
    padding: 0 30px 20px;
    width: 100%;
}

.register__main{
    input{
        height: 100%;
        padding: 12px 15px;
        width: 100%;
        border: 1px solid rgba(0,0,0,.14);
        border-radius: 2px;
        box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    }
}

.register__main label {
    font-size: 16px;
}

.register__main input{
    // margin: 8px 0 ;
}

.pass input{
    // margin-bottom: 8px;
}

.btn--register{
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.09);
    color: var(--white--clr);
    background-color: var(--primary-clr);
}

.access__suport{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.text{
    font-size: 12px;
    color: #05a;
}

.register__other{
    position: relative;
    display: flex;
    flex-direction: column;
}

.or--outner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #DFDFDF;
    }
}

.Or{
    color: #ccc;
    background-color: var(--white--clr);
    padding: 0 16px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.other__connect{
    height: 50px;
    display: flex;
    margin: 0 -5px;
}

.btn--connect{
    flex: 1;
    // border: 1px solid rgba(0,0,0,.26);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.btn--inner{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    margin: 5px;
    padding-right: 8px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
    background-color: var(--white--clr);
    color: rgba(0,0,0,.87);
    padding: 0 2px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: .875rem;
    justify-content: center;
}
    

.icon{
    width: 22px;
    height: 22px;
}

.facebook--icon{
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png');
    background-size: 325% 287.5%;
    background-position: 5.555555555555555% 62.666666666666664%;
}

.google--icon{
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7b95007f3377150730bbb5d1ddb477d6.png');
    background-size: 722.2222222222222% 638.8888888888889%;
    background-position: 83.92857142857143% 5.154639175257732%;
    
}

.note{
    font-size: 12px;
    color: rgba(0,0,0,.87);
    text-align: center;
    padding: 0 32px;

    span{
        color: var(--primary-clr);
        cursor: pointer;
    }
}

.register__fe{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.fe--text{
    white-space: pre;
    padding-right: 4px;
    color: rgba(0,0,0,.26);
}

.register{
    color: var(--primary-clr);
}
