
.title{
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/fb1088de81e42c4e538967ec12cb5caa.png');
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 30px;
}