.wrapper{
    width: inherit;
    margin-top: 25px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.text--shared{
    font-size: 14px;
    color: #888888;
}

.box--title{
    display: flex;
    align-items: center;
    width: 110px;
}

.icon{
    width: 25px;
    height: 20px;
    font-size: 20px;
}

.wrapper--transport{
    display: flex;
}

.wrapper__transport--content{
    display: flex;
    flex-direction: column;
}

.transport--voucher{
    display: flex;
    align-items: center;
}

.freeship--text{
    padding: 0 0 12px 7px;
}

.wrapper__transport--from{
    display: flex;
}

.transport--text{
    padding: 0 10px 0 0;
}

.transport__from--content{
    padding: 0 0 0 7px;

}

.transport__from--top{
    display: flex;

}

.transport--content{
    display: flex;
}

.transport--fee{
    display: flex;
}

.wrapper--products--model{

}

.wrapper--productType{
    height: 42px;
    margin: 0 0 8px;
    display: flex;
}

.wrapper__btns--type{
    display: flex;
    align-items: center;
}

.wrapper--quantity{
    display: flex;
    align-items: center;
}


//================================================

input[type="text"] {
    //   -webkit-appearance: textfield;
    //   -moz-appearance: textfield;
    //   appearance: textfield;
    }
    
    input[type=text]::-webkit-inner-spin-button,
    input[type=text]::-webkit-outer-spin-button {
    //   -webkit-appearance: none;
    }
    
    .quantity--content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input[type=text]{
            width: 50px;
            height: 32px;
            text-align: center;
            font-size: 16px;
            border: 1px solid #888;
        }
    }
    
    .number-input{
        width: 114px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #888;
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 30px;
        padding: 1px 6px;
        background-color: #fff;
        font-size: 18px;
    }
 .typeProduct {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 5rem;
        min-height: 2.125rem;
        margin: 0 8px 8px 0;
        font-size: 14px;
        padding: 4px 12px;
        color: rgba(0,0,0,.8); 
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,.09);
        background-color: #fff;
        overflow: hidden;
    
        &:hover{
          color: var(--primary-clr);
          border-color: var(--primary-clr);
        }
      }

.typeActive{
    position: relative;
    color: var(--primary-clr);
    border-color: var(--primary-clr);

    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: var(--primary-clr);
    }

    &::before{
      content: url('../../../../../assets/icon/tickicon.svg');
      position: absolute;
      right: 0;
      bottom: 5px;
      fill: #fff;
      z-index: 1;
      width: 8px;
      height: 8px;
    }
  }