.wrapper__cart--header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container__cart--header {
  width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.cart__header--logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 18px;
}

.box--logo {
  padding-right: 15px;
}

.logo {
  width: 130px;
  height: 46px;
  fill: var(--primary-clr);
}

.page--name {
  padding-left: 15px;
  position: relative;

  border-left: 1px solid #ee4d2d;
  &::after {
    content: "";
  }
}

.seacrchbar {
  display: flex;
  align-items: center;
  width: 621px;
  border: 2px solid #ee4d2d;
  border-radius: 2px;
}

.box--input {
  flex: 1;
}

.search--input {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.seacrch--btn {
  width: 80px;
  height: 36px;
  padding: 0 15px;
  background-color: #ee4d2d;
}
