.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 336px;
}

.image{
    width: 6.75rem;
    height: 6.125rem;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/9bdd8040b334d31946f49e36beaf32db.png');
}

.titel{
    color: rgba(0,0,0,.4);
    font-size: 15px;
    line-height: 1rem;
    margin-top: 1.125rem;
    font-weight: 500;
}

.btn{
    margin-top: 1.0625rem;
    padding: 0.625rem 2.625rem;
    position: relative;
    overflow: visible;
    outline: 0;
    background-color: var(--primary-clr);
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    position: relative;
    transition: opacity .2s ease;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
}
