.wrapper{
    width: 1200px;
    background-color: #f5f5f5;


    --item--height: 282px;
}

.products__list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;

}

.product__item{
    background-color: #f5f5f5;
    width: 200px;
    height: 292px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer;

    &:hover .product{
        border: 1px solid #ee4d2d;
        transform: translateY(-2px);
    }
    &:hover .search--similar{
        display: flex;
    }
    
}

.product{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
    background-color: var(--white--clr);
    transform: translateY(0);
    transition: 0.1s;

    width: 190px;
    height: var(--item--height);
}

.search--similar{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: var(--item--height);
    width: 190px;
    height: 30px;
    z-index: 2;
    font-size: 14px;
    color: var(--white--clr);
    text-align: center;
    background-color: #ee4d2d;
    transition: 0.1s;
    cursor: pointer;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 188px;
}

.image{
    background-size: cover;
    width: inherit;
    height: inherit;
    object-fit: cover;
}



.isProduct--logo{
    position: absolute;
    left: 0;
    top: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    max-width: 70%;
}

.wrapper__isProduct--text{
    position: relative;
    display: flex;
    align-items: center;
    height: 0.9375rem;
    font-size: .5625rem;
    line-height: .6875rem;
    font-weight: 500;
    padding: 0 4px;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    background: currentColor;
    left: -0.1875rem;

    color: rgb(242, 82, 32);

    padding: 0 0.25rem;
    height: auto!important;

    text-align: center;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -0.1875rem;
        border-top: 0.1875rem solid;
        border-left: 0.1875rem solid transparent;
        -webkit-filter: brightness(60%);
        filter: brightness(60%);
    }
}

.isProduct--text{
    color: var(--white--clr);
    font-size: .75rem;
    line-height: .875rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


//================================================================
.content{
    height: 92px;
    padding: 8px;
}

.content--top{
    height: 48px;
    display: flex;
    flex-direction: column;
}

.description{
    height: 28px;
    line-height: 14px;
    font-size: .75rem;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    color: rgba(0,0,0,.87);
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.voucher{
    height: 16px;
    margin: 4px 0 0;
}

.content--bottom{
    height: 28px;
    padding: 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

.price{
    font-size: 16px;
    color: #ee4d2d;
    flex: 1;
    display: flex;
    align-items: center;

    .vnd{
        font-size: 12px; 
    }
}

.sold{
    font-size: 12px;
    color: #0000008a;
}
