.wrapper{
    border-radius: 50%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    cursor: pointer;
}
.title {
    font-style: 14px;
    transition: .5s;
}

// Ẩn 
.hidden {
    display: none;
}
  // Hiện
.show{
    display: block;
  }

.disabled{
  opacity: 0.5;
  cursor: none;
}

  // Types Button
.btnBanner {
    width: 35px;
    height: 60px;
    background-color: #0000002e;
    border-radius: 3px;
    color: #fff;

    &:hover{
      background-color: #00000052;
    }
    
    
    font-size: 25px;

    
  }

