.wrapper{
    // border-radius: 50%;
    display: flex;
    background-color: var(--white--clr);
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    cursor: pointer;
}
.title {
    font-style: 14px;
    transition: .5s;
}

// Ẩn 
.hidden {
    display: none;
}
  // Hiện
.show{
    display: block;
  }



  // Types Button

.circle{
  border-radius: 50%;
}

.typeLogin{

}

.btnBanner {
    display: none;
    width: 35px;
    height: 60px;
    background-color: #0000002e;
    border-radius: 3px;
    font-size: 25px;
    color: var(--white--clr);

    &:hover{
      background-color: #00000052;
    }
}

.typeProduct {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    min-height: 2.125rem;
    margin: 0 8px 8px 0;
    font-size: 14px;
    padding: 4px 12px;
    color: rgba(0,0,0,.8); 
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    background-color: var(--white--clr);
    overflow: hidden;

    &:hover{
      color: var(--primary-clr);
      border-color: var(--primary-clr);
    }
  }

.typeActive{
    position: relative;
    color: var(--primary-clr);
    border-color: var(--primary-clr);

    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: var(--primary-clr);
    }

    &::before{
      content: url('../../assets/icon/tickicon.svg');
      position: absolute;
      right: 0;
      bottom: 5px;
      fill: var(--white--clr);
      z-index: 1;
      width: 8px;
      height: 8px;
    }
  }

.typeactive{
    position: relative;
    color: var(--primary-clr);
    border-color: var(--primary-clr);

    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: var(--primary-clr);
    }

    &::before{
      content: url('../../assets/icon/tickicon.svg');
      position: absolute;
      right: 0;
      bottom: 5px;
      fill: var(--white--clr);
      z-index: 1;
      width: 8px;
      height: 8px;
    }
  }

  .disabled {
    opacity: 0.5 ; 
    cursor: not-allowed !important;
  }