.wrapper{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.title {
    font-style: 14px;
}

// Ẩn 
.hidden {
    display: none;
}
  // Hiện
.show{
    display: block;
  }