.wrapper {
  display: flex;
  justify-content: center;
  min-width: 1200px;
  height: 34px;
  background: #ee4d2d;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--white--clr);

    &:hover {
      color: hsla(0,0%,100%,.7);
      cursor: pointer;
    }
  }
}

.navbar__left {
  li {
    padding: 4px;
    position: relative;
  }
  li:not(:first-child) {
    margin: 0 0 0 10px;
    
  }

  li:last-child
  {
    cursor: auto;
    color: var(--white--clr);
  }
  li:not(:last-child)::after {
    content: '';
    width: 1px;
    background-color: hsla(0,0%,100%,.22);
    height: 50%;
    right: -5px;
    position: absolute;
  }

  // li:nth-child(2)::after {
  //   content: ;
  //   width: 100%;
  //   height: 1rem;
  //   position: absolute;
  //   left: 0;
  //   border-right: 1px solid hsla(0,0%,100%,.22);
  //   border-left: 1px solid hsla(0,0%,100%,.22);
  // }

  // li + li {
  //     content: ;
  //     position: absolute;
  //     width: 1px;
  //     height: 16px;
  //     background-color: #333;
  //     left: 0;
  // }

  .icon {
    margin-left: 4px;
  }
}

.navbar__right {
  li {
  }
  span {
  }

  li:last-child {
    // border-left: 1px solid hsla(0,0%,100%,.22);
  }
}
.notification{

  span{
    margin-left: 0.3125rem;
  }
  .icon{
    width: 14px;
    height: 18px;
  }
}

.support{
  padding: 0 10px 0 0;

  .icon{
    margin-right: 0.3125rem;
    margin-left: 0.5rem;
    width: 18px;
    height: 18px;
  }
}

.language{
  padding: 7px 10px;

  span{
    margin: 0 5px;
  }
}

.register{
  padding: 0 10px;
}

.login{
  padding: 0 10px;

  border-left: 1px solid hsla(0,0%,100%,.22);
}



.user {
  display: flex;
  gap: 5px;
  align-items: center;
}
.avatar {
  display: inline;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.icon {
  width: 16px;
  height: 16px;
}

//===Popper application================================================================

.popper--app{
  width: 184px;
  height: 240px;
  padding: 2px;

}

.popper--inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr--image{
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 2px;

}

.list-app{
  padding: 0 15px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item--app{
  width: 4.375rem;
}

.img--item{
  object-fit: cover;
  width: 100%;
}

//===========Popper Notification=====================================
.notigication--popper{
  position: relative;
  width: 400px;
  height: 350px;
  background-color: var(--white--clr);
  box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,.2);
  border-radius: 0.125rem;

  &::after {
    content: '';
    position: absolute;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    top: -10px;
    right: 30px;
    width: 0;
    height: 0;
  }
}

.popper__notication--inner{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.content{
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.img--outner{

}

.image{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.note{
  font-size: 14px;
  margin: 20px 0 0;
  color: rgba(0,0,0,.8);
}


.btn--outner{
  height: 40px;
  display: flex;
  align-items: center;
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 200px;
    height: 100%;
    padding: 1px 6px;
    cursor: pointer;
    &:hover{
      background-color: #E8E8E8;
      color: var(--primary-clr);
    }
  }
}



//===============Popper Language=================================================

.popper--language{
  margin-top: -9px;
  box-shadow: 0 0.0625rem 3.125rem 0 rgba(0,0,0,.2);
  background-color: var(--white--clr);
  min-width: 200px;
  border-radius: 2px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    top: -8px;
    right: 44px;
    width: 0;
    height: 0;
  }
}

.language--list{
  display: flex;
  flex-direction: column;
  min-height: 80px;
  overflow: hidden;
}

.btn{
  text-align: left;
  color: rgba(0,0,0,.87);
  padding: 0.625rem;
  font-size: .875rem;
  line-height: 1.25rem;
  background-color: initial;
  border: 0;

  cursor: pointer;

  &:hover{
    color: var(--primary-clr)
  }
}

