.wrapper{
    display: flex;
    flex-direction: column;
    
    position: relative;
    // overflow: hidden;
}

.icon{
    height: 20px;
    width: 24px;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/d9e992985b18d96aab90969636ebfd0e.png');
    object-fit: cover;
    background-size: cover;
}
.tip {
    background-color: var(--white--clr)efb;
    border: 1px solid rgba(224,168,0,.4);
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 43px;
    margin-top: 20px;
}
.text{
    font-size: 14px;
    color: #222222;
    margin: 0 0 0 8px;
}