.wrapper{
    padding: 20px 35px 0 20px;
}

.description{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    margin: 0;
    vertical-align: sub;
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}

.icon--review{
    height: 18px;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    border-radius: 2px;
    transform: translateY(-0.125rem);
    font-size: .75rem;
    background-color: var(--primary-clr);
    color: #fff;
    padding: 0.1875rem 0.25rem;
}

.description__content{
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
} 
 
// share points
.underline{
    border-bottom: 1px solid #555;;
}


.evalute--product{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 25px;
    &>*:not(:first-child):not(:last-child){
        border-left: 1px solid #888888;

    }
}

.rating--product{
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    
}
.number--rating{
    color: var(--primary-clr);
    border-color: var(--primary-clr);
}

.start--outer{
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 1.5rem;

    &::before{
        content: '\2606 \2606 \2606 \2606 \2606';
        color: var(--primary-clr);
    }
}

.start--inner{
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    &::before{
        content: '\2605 \2605 \2605 \2605 \2605';
        color: var(--primary-clr);
    }
}

.review--product{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.amount{

}

.title--amount{

}


.spam{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

//==============Price=========================
.price--product{
    display: flex;
    flex-direction: column;
    height: 102px;
    margin-top: 10px;
}

.event--product{
    display: flex;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/4323ad4dc2b3c72d0474d51f20fb83e8.jpg');
    align-items: center;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    height: 36px;
}

.logo--flashsale{
    width: 122px;
    height: 21px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--clock{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.text--endTime{
    margin: 0 5px;
}

.block--coundown{

}

.wrapper__price--afterEvent{
    display: flex;
    padding: 15px 20px;
    background: #fafafa;
    height: 66px;
}

.price--affterEvent{
    display: flex;
    align-items: center;

    gap: 10px;
}

.cost{
    font-size: 1rem;
    text-decoration: line-through;
    color: #929292;
}

.price{
    display: flex;
    gap: 15px;
    align-items: center;
}

.price--afterVoucher{
    color: var(--primary-clr);
    font-size: 30px;
    font-weight: 500;
}

.product--voucher{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: var(--primary-clr);
    border-radius: 2px;
    padding: 2px 4px;
    font-weight: 600;
    white-space: nowrap;
    height: 15px;
}


//=======================Button==============
.product--buy{
    margin-top: 15px ;
    height: 48px;
}

.wrapper__btns--buy{
    display: flex;
    padding-left: 20px;
    gap: 10px;
    height: inherit;
}

.btn--product--cart{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    padding: 0 20px;
    border: 1px solid var(--primary-clr);
    background-color: #ff57221a;
    color: var(--primary-clr);
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background-color: #ffc5b22e;
    }
}

.content__btn--addCart{
    display: flex;
    align-items: center;
    gap: 5px;
}

.text__add--cart{
    
}

.buy--now{
    padding: 0 20px;
    background-color: var(--primary-clr);
    color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background-color: #f05d40;;
    }

    a {
        color: #fff;
    }
}


///=========Ensuar=============
.ensuar--shopee{
    margin-top: 30px;
    height: 70px;
    padding: 20px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper--ensuar{
    display: flex;
    padding: 5px;
    gap: 20px;
}

.block--title{
    display: flex;
    align-items: center;
}

.ensuar--icon{
    width: 20px;
    height: 20px;
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/83e10a1f95cb083579c089448ef8dd3b.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title--ensuar{
    font-size: 16px;
    padding-left: 5px;
}

.block__content--ensuar{
    display: flex;
    align-items: center;
}

.text--content{

}

//point shared
.text--small{
    font-size: 14px;
    color: #0000008a;
}

.text--medium{
    font-size: 16px;
}