.wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper__show--image{

}

.show--image{

}

.screen--image{
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.wrapper--showList{
    box-sizing: border-box;
    position: relative;
}

.wrapper__list--image{

}

.list--image{
    display: flex;
    align-items: center;
    // overflow: hidden;
    
    .item--image:first-child{
        padding-left: 0;
    }
    .item--image:last-child{
        padding-right: 0;
    }
}

.item--image{
    padding: 5px;
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover .image{
        border-color: var(--primary-clr);
    }
}


.image{
    width: 82px;
    height: 82px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;

}

.wrapper__share{
    display: flex;
    margin-top: 15px;
    height: 25px;
}

.share__link--icon{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &>*{
        padding-left: 5px;
    }
}

.share--text{
    
    
}

.iconMess{
    color: #0384ff;
}

.iconFace{
    color: #3b5999;
}

.iconPintes{
    color: #de0217;
}

.iconTw{
    color: #10c2ff;
}

.amount--like{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0,0,0,.09);
}

.iconHeart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 20px;
    margin-right: 10px;
    color: #ff424f;
}

.text{
    font-size: 16px;
    color: #888888;
}

.btn{
    position: absolute;
    background-color: transparent;
    font-size: 25px;
    height: 26px;
    width: 15px;
    color: #fff;
    top: calc(50% - 15px);
    cursor: pointer;
}

.prev{

}

.next{
    right: 0;
}
