.wrapper {
  width: 1200px;
  margin: 20px 0 0;
  background-color: var(--white--clr);
  box-sizing: border-box;
  // overflow: hidden;
}

.title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  border: 1px solid #0000000d;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  font-weight: 400;
}

.wrapper__category{
  display: flex;
  position: relative;
  align-items: center;

  &:hover .btn{
    font-size: calc(var(--size--btn--list)/2);
    --size--btn--list:40px;
  }
}
.category__list {
  height: 302px;
  overflow: hidden;

}

.box__category--list {
  display: flex;
  flex-wrap: wrap;
  width: 1680px;
  transition: 1s;
}

.box__list--item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: 120px;
}

.box--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 119px;
  height: 150px;

  &:hover {
    z-index: 1;
    border-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.05);
  }
}

.logo {
  width: 83px;
  height: 88px;
}

.text {
  height: 40px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  color: #000000CC;
  font-weight: 400;
}


.btn{
  width: var(--size--btn--list);
  height: var(--size--btn--list);
  position: absolute;
  transition: 0.2s;
  z-index: 9;
}

.prev{
  display: none;
  left: calc(var(--size--btn--list)/ -2);
}

.next{
  right: calc(var(--size--btn--list)/ -2);
}

// .category__list:hover .btn {
//   width: 35px;
//   height: 35px;
// }