.wrapper {
    box-sizing: border-box;
    width: 100%;
    // min-height: 150px;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,.2);
    background-color: var(--white--clr);
}