.wrapper{
    width: 1200px;
    height: 110px;
    margin-top: 30px;
    display: flex;
    background-image: url('https://cf.shopee.vn/file/sg-50009109-1a5a7fcc9fb35560dbb2e5bcaf269284');
}

.box__item1{
    flex: 1;
}

.box__item2{
    flex: 1;
}

.box__item3{
    flex: 1;
}
