.bottom__wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: .75rem;
    color: rgba(0,0,0,.65);
    padding: 2.625rem 0 2.3125rem;
    background: #f5f5f5;
}

.box__fbot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list--title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.item__fbot--title{
    padding: 0 25px;
    cursor: pointer;
    &:not(:last-child){
        border-right: 1px solid rgba(0,0,0,.09);
    }
}

.footer__list--logo{
    display: flex;
    background-color: initial;
    position: relative;
}

.footer__item--logo{
    text-decoration: none;
    color: rgba(0,0,0,.8);
    margin: 0 1.25rem;
}

.bct-1{
    width: 7.5rem;
    height: 2.8125rem;
    background-size: 551.6666666666666% 477.77777777777777%;
    background-position: 14.391143911439114% 99.41176470588235%;
}

.bct-3{
    width: 3rem;
    height: 3rem;
    background-size: 1379.1666666666667% 447.9166666666667%;
    background-position: 1.6286644951140066% 92.21556886227545%;
}

.background__image{
    background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png');
}

.item__info--shopee{
    margin-top: .5rem;
}

//================================================================

.chatbox{
    position: fixed;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 48px;
    bottom: 0;
    right: 8px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 20px 0 rgba(28,28,51,.16);
    cursor: pointer;
    z-index: 9999;
}

.chat--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);   
    width: 24px;
    height: 24px; 
}

.chat--text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);
    width: 44px;
    height: 22px;
}

