.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 1200px;
}

.title{
    width: inherit;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 99;
    height: 60px;
    top: 119px;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white--clr);
    color: var(--primary-clr);
    border-bottom: 4px solid var(--primary-clr);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.wapper__products--suggest{
    
}

.btn--moreview{
    margin-top: 20px;
    width: 390px;
    height: 40px;
    color: #555;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);

    &:hover{
        background-color: #f0f0f0;
    }
}
